

# Node artifact files
node_modules/
dist/
.env

.vscode/*
.package-lock.json/
package-lock.json

!public/
public/*
!public/upload/
public/upload/*
!public/default/
!public/default/image/
!public/default/image/flags/
!public/upload/images/
public/upload/images/*
file/*

build/*
