@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */
body{
    font-family:Poppins !important;
}
.gcolor{
    color: #676767;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  table td, table th {
    padding: 12px;
  }
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border-bottom: 1px solid #E8E8E8;
  }
  tbody{
    font-size: 14px;
  }
  thead{
    font-weight: 500;
    font-size: 14px;
  }
  input:hover{
    border-color: #000;
    outline: 0;
    /* box-shadow: 0 0 0 1px #000; */
  }
  input:focus{
    border-color: #0066F9 !important;
    outline: 0;
    box-shadow: 0 0 0 1px #0066F9 !important;
  }
  select:hover{
    border-color: #000;
    outline: 0;
    /* box-shadow: 0 0 0 1px #000; */
  }
  select:focus{
    border-color: #0066F9 !important;
    outline: 0;
    box-shadow: 0 0 0 1px #0066F9 !important;
  }
  textarea:hover{
    border-color: #000;
    outline: 0;
    /* box-shadow: 0 0 0 1px #000; */
  }
  textarea:focus{
    border-color: #0066F9 !important;
    outline: 0;
    box-shadow: 0 0 0 1px #0066F9 !important;
  }
  .clr_b{
    background-color: #F74C07 !important;
    color: white !important;
  }
  .clr_b:hover{
    background-color: #d4430a !important;
  }
.details .dot{
  font-size: 24px !important;
}