.question{
    margin-top: 80px;

}
.quText{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
}
.box{
    margin: auto;
    margin-bottom: 64px;
}
.accordion{
    --bs-accordion-border-radius: 12px !important;
  }
  .accordion-button .collapsed{
    border-radius: unset !important;
  }
  .accordion-button{
    border-radius: 12px !important;
  }
  
  .clr_b{
    color: #646464;
  }
  button:focus:not(:focus-visible) {
    outline: unset !important;
    
  }
  .accordion-button{
    box-shadow: unset !important;
  }
  .accordion-button:focus {
    box-shadow: unset !important;
  }
  .accordion-body{
    font-size: 14px !important;
    color: #676767;
    padding:  2px 16px 12px 24px !important;
  }
  .accordion-button:not(.collapsed) {
    background-color: unset !important;
    color: unset !important;
  }

  .accordion-item{
    border: unset !important;
  }
  .item{
    border-bottom: 1px solid #e8e8e8;
  }
  .accordion{
    padding-left: 10px;
    padding-right: 10px;
  }