<div class="question">
    <div class="quText"> Any questions?</div>
    <div class="box col-6">
        <div class="accordion" id="accordionExample1">
          <div class="accordion-item">
            <div class="item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne">
                    What services does your automated marketing agency provide?
                </button>
              </h2>
              <div id="collapseOne1" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Our agency offers a comprehensive range of services including social media management, search engine optimization (SEO), pay-per-click advertising (PPC), email marketing, content creation, and website design.
                </div>
              </div>
            </div>
            
          </div>
          <div class="accordion-item">
            <div class="item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne">
                    What services does your automated marketing agency provide?
                </button>
              </h2>
              <div id="collapseOne2" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Our agency offers a comprehensive range of services including social media management, search engine optimization (SEO), pay-per-click advertising (PPC), email marketing, content creation, and website design.
                </div>
              </div>
            </div>
            
          </div>
          <div class="accordion-item">
            <div class="item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="false" aria-controls="collapseOne">
                    What services does your automated marketing agency provide?
                </button>
              </h2>
              <div id="collapseOne3" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Our agency offers a comprehensive range of services including social media management, search engine optimization (SEO), pay-per-click advertising (PPC), email marketing, content creation, and website design.
                </div>
              </div>
            </div>
            
          </div>
          <div class="accordion-item">
            <div class="item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne">
                    What services does your automated marketing agency provide?
                </button>
              </h2>
              <div id="collapseOne4" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Our agency offers a comprehensive range of services including social media management, search engine optimization (SEO), pay-per-click advertising (PPC), email marketing, content creation, and website design.
                </div>
              </div>
            </div>
            
          </div>
          <div class="accordion-item">
            <div class="">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne5" aria-expanded="false" aria-controls="collapseOne">
                    What services does your automated marketing agency provide?
                </button>
              </h2>
              <div id="collapseOne5" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Our agency offers a comprehensive range of services including social media management, search engine optimization (SEO), pay-per-click advertising (PPC), email marketing, content creation, and website design.
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>