.profile{
    padding: 8px;
    border-radius: 10px;
    margin-right: 40px;
    margin-left: 24px;
    position: relative;
    top: -27px;
}
.circle{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #FA8759;
    color:#fff;
    font-weight: 600;
    font-size: 48px;
    padding-top: 12px;
}
.name{
    font-weight: 600;
    color: #1C1C1C;
    line-height: 19 px;
}
.category{
    font-size: 14px;
    color:#676767;
}
.btn-color{
    background-color: #F74C07;
    color: white;
}
.coverPage{
    height: 148px;
    background-image: linear-gradient(to right, #FFEFEF , #FFDADA);
}
.information{
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 64px;
}
.info{
    font-size: 18px;
    font-weight: 500;
}
.image{
    margin-top: 408px;
}
.avai{
    margin-top: 100px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-right: 16px;
}
.avi_box{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    padding-top: 8px;
    background-color: #D9D9D9;
    margin-right: 16px;
}
.avi_box_Emity{
    color: #979797;
    background-color: #D9D9D9;
}
.avi_box_Full{
    color:#fff;
    background-color: #F74C07;
}
.map_box{
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #676767;
}
.display{
    display: none;
}