.up-text{
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    margin-bottom: 16px;
}
.nav{
    border-bottom: solid 1px #E8E8E8;
}
a{
    color:#676767;
}
.active a{
    color:#F74C07;
}
.active{
    z-index: 2;
    border-bottom: solid 3px #F74C07;
}
.nav-item{
  margin-right: 24px;
}
.table_body{
    font-family: "Poppins", serif;
  border: 1px solid #E8E8E8;
  margin-top: 16px;
  border-radius: 14px;
  font-size: 14px;
}
.table_inner{
    padding: 0px 24px 0px 24px;
}
table {
    border-collapse:separate; 
    border-spacing: 0 1em;
    font-size: 14px;
}
th{
    font-weight: 500;
}
.details li a{
    font-size: 16px;
    color:#1C1C1C ;
}
.details li:last-child a{
    color:#CD1C18;
  }
.dot{
    padding-left: 20px;
    font-size: 16px;
} 
.modal-footer{
    border-top: unset !important;
    padding-top: unset !important;
}