
DB_HOST_v1=localhost
DB_USER_v1=root
DB_PASS_v1=""
DB_DATABASE_v1=de_auto 


frontend_url="http://localhost:3000"
backend_url="http://localhost:3001"

admin_image_path_name = "/admin-image"
admin_image_path = "public/upload/images/admin-images/"

user_profile_image_path_name = "/user-profile-image"
user_profile_image_path = "public/upload/images/profile/"

banner_image_path_name = "/banner"
banner_image_path = "public/upload/images/banner/"

company_logo_path_name = "/company-logo"
company_logo_path = "public/upload/images/company/logo/"

company_user_image_path_name = "/company-user"
company_user_image_path = "public/upload/images/company/user/"

company_image_path_name = "/company-image"
company_image_path = "public/upload/images/company/image/"

flag_image_path_name = "/flag-image"
flag_image_path = "public/default/images/flags/"

category_image_path_name = "/category"
category_image_path = "public/upload/images/category/"

send_email_host="smtp.zoho.com"
send_email_address="shovon56.study@zohomail.com"
send_email_password="shovonMedinatec12"

send_email_port=465

# call scheduler at 12 am
scheduleTime =0 0 * * * 

#every minute
# scheduleTime = */1 * * * *

##################### MAP RELATED ####################

#Google Map API Key

#Maps JavaScript API
# AIzaSyACtMl0u5b8sU_6M5JqMlKRLNgdn_hvKQc

# Places API (Same maps javascript api)
# AIzaSyACtMl0u5b8sU_6M5JqMlKRLNgdn_hvKQc
GOOGLE_MAPS_API_KEY = "AIzaSyACtMl0u5b8sU_6M5JqMlKRLNgdn_hvKQc"


# Geocoding API
# Client ID
# 400872967029-o9v9gtkbeq4e397oimg338ovqi134b4u.apps.googleusercontent.com
# iOS URL scheme
# com.googleusercontent.apps.400872967029-o9v9gtkbeq4e397oimg338ovqi134b4u


# Google Console API key created, It will not be needed as map api key has found.
# it also gives 27 functionality access like places API,Maps JavaScript API,Geocoding API

# Use this key in your application by passing it with the key=API_KEY parameter.
# AIzaSyC5igoZiVWBZQqE_1Rb_GXgccBhWgptfLw

##################### MAP RELATED ####################



