<section>
    <div class="up-text">
        <div class="d-flex">
            <div>User Details</div>
        </div>
    </div>
</section>  
<hr style="color: #e8e8e8; opacity: 1;">
<section>
    <div class="nameOfCp">
        <div class="cpmyName">John Alex</div>
        <div class="catName">{{'Jhonealse@gmail.com'}}</div>
    </div>
    <div class="information">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <div class="info">Information</div>
                    
                </div>
                <div class="col-8">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Car model</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">License number</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Street</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">House number</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Postal code </label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">City</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Date & Time</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                      </form>
                </div>
            </div>
        </div>
    </div>

</section>
