
<section >
    <div class="sidebar">
        <div >
            <img src="assets/images/logo.png" alt="">
        </div>
        <div class="mt-5 p-2">
            <nav class="nav flex-column">
                <a class="nav-link" aria-current="page" routerLink="dashboard" routerLinkActive="active">
                    Dashboard
                </a>
                <a class="nav-link" aria-current="page" routerLink="company" routerLinkActive="active">
                    Company list
                </a>
                <a class="nav-link" aria-current="page" routerLink="shops" routerLinkActive="active">
                    New Companies
                </a>
                <a class="nav-link" aria-current="page" routerLink="dashboardd" routerLinkActive="active">
                    Inactive Companies
                </a>
                <a class="nav-link" aria-current="page" routerLink="categories" routerLinkActive="active">
                    Categories
                </a>
                <a class="nav-link" aria-current="page" routerLink="promotion" routerLinkActive="active">
                    Promotional cover
                </a>
                <a class="nav-link" aria-current="page" routerLink="subscription" routerLinkActive="active">
                    Manage subscription
                </a>
                <a class="nav-link" aria-current="page" routerLink="faqs" routerLinkActive="active">
                    Manage FAQ’s
                </a>
                <a class="nav-link" aria-current="page" routerLink="services" routerLinkActive="active">
                    Services
                </a>
                <a class="nav-link" aria-current="page" routerLink="service-request" routerLinkActive="active">
                    Service request
                </a>
                <a class="nav-link" aria-current="page" routerLink="user" routerLinkActive="active">
                    User
                </a>
              </nav>
        </div>
    </div>
</section>